.background{
    -fx-background-image: url("transfer.jpg")
}
.transfer{
    -fx-background-color: #848482;
}
.transfer:hover{
    -fx-background-color: #a52a2a;
}
.back{
    -fx-background-color: #848482;
}
.back:hover{
    -fx-background-color: #a52a2a;
}
.text{
    -fx-background-color: #f5f5dc;
}